<!-- صندوق الإدخال -->
<div class="p-card z-0 md:w-5/12 w-1/4 px-3 mt-2 p-3 mx-auto rounded shadow-sm mb-4 ">
    <div class="flex gap-3 mb-3 rounded">
      <p-skeleton shape="circle" size="40px"></p-skeleton>
      <p-skeleton  class="responsive-skeleton " ></p-skeleton>
    </div>
    <p-skeleton width="80%" height="20px" class="mb-50"></p-skeleton>
    <p-skeleton class="mt-2 mb-50" width="60%" height="20px"></p-skeleton>
  </div>
  
  <!-- البوستات الوهمية -->
  <div *ngFor="let i of [1,2,3]" class="mb-4 gap-3 p-2">
    <p-card>
      <div class="flex gap-3 mb-2">
        <p-skeleton shape="circle" size="50px"></p-skeleton>
        <div class="w-full">
          <p-skeleton  width="50%" class="mb-1 mb-50"></p-skeleton>
          <p-skeleton   width="30%" height="12px"></p-skeleton>
        </div>
      </div>
      
      <p-skeleton  height="300px"></p-skeleton>
    </p-card>
  </div>
  